<div class="col-md-12">
    <!-- Horizontal Form -->
    <div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">股票信息编辑页面</h3>
    </div>
    <form class="form-horizontal">
    <div class="box-body">
        <div class="form-group">
        <label for="stockName" class="col-sm-2 control-label">股票名称</label>

        <div class="col-sm-2">
            <input type="text" class="form-control" id="stockName" placeholder="股票名称" [value]="stock.name">
        </div>
        </div>
        <div class="form-group">
        <label for="stockPrice" class="col-sm-2 control-label">股票价格</label>

        <div class="col-sm-2">
            <input type="text" class="form-control" id="stockPrice" placeholder="股票价格" [value]="stock.price">
        </div>
        </div>
        <div class="form-group">
            <label for="stockRating" class="col-sm-2 control-label">股票评级</label>
            <div class="col-sm-2">
                <app-stars [(rating)]="stock.rating" [readonly]="false"></app-stars>
            </div>
        </div>
        <div class="form-group">
            <label for="stockDes" class="col-sm-2 control-label">股票描述</label>
            <div class="col-sm-4">
                <textarea type="text" class="form-control" id="stockDes" placeholder="股票描述" [value]="stock.desc"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">股票类别</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-2 checkbox">
                        <label>
                            <input type="checkbox" name="stockCate"> 互联网
                        </label>
                    </div>
                    <div class="col-sm-2 checkbox">
                        <label>
                            <input type="checkbox" name="stockCate"> 教育
                        </label>
                    </div>
                    <div class="col-sm-2 checkbox">
                        <label>
                            <input type="checkbox" name="stockCate"> 金融
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    
    <div class="box-footer">
        <button type="submit" class="btn btn-default" (click)="cancel()">取消</button>
        <button type="submit" class="btn btn-info pull-right" (click)="save()">确定</button>
    </div>
    
    <!-- /.box-footer -->
    </form>
</div>
